body{

	background-image: url('background.jpg');
	background-repeat:no-repeat;
	background-color:cadetblue;
	background-size: 100% auto; 
	font-family: "avenir";
}

h1{
	font-size: 95px;
	font-size: 5.5vw;
	line-height: 75px;
	line-height: 5.5vw;
	border:solid;
	border-width: 7px;
	width:23%;
	border-color:cadetblue;
	text-align:left ;
	font-weight: bolder;
	text-transform: uppercase;
	color:gold;
}

.button{
	margin-top:2%;
	background-color: cadetblue;
	width: 20%;
	border-radius: 4px;
	font-size: 2.2vw;
	text-align:center;
	font-weight:bold;
	text-transform: uppercase;
	color:white;
}

a:link{
	text-decoration: none;
	color:white;
}
a:visited{
	text-decoration: none;
	color:white;
}
